body {
    background-color: #3a3b3d;
    text-align: center;
    color: #dae1ed;
    font-family: Monospace;
    opacity:0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s; /* Safari */
}
.slika {
    margin-left: auto;
    margin-right: auto;
    border: solid 1px;
}
.footer {
    margin-bottom: 5px;
    position: relative;
}
